*box-sizing{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}   
/*Common*/
:root{
    --header-bg: #008046;
}
a{
    text-decoration: none;
}


.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn{
    display: inline-block;
    

    min-width: 205px;
    height: 60px;
    padding: 0 20px;
    flex-shrink: 0;
    line-height: 60px;

    border-radius: 99px;
    border: 1px solid #2dcf3b;
    background: #2dcf3b;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}


.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
/*Header*/

.header{
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
}
.logo{
    font-size: 1rem;
    position: relative;
    display: inline-flex;

}


.logo__circle::before, .logo__circle::after{
    content:"";
    display: inline-block;
    
    border-radius: 50%;
    
}

.logo__circle::before{
    width: 3em;
    height: 3em;
    background: #2E80CE;

}

.logo__circle::after{
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    background: #fff;
    top: 1.1em;
    left: 1.1em;
    
}

.logo__text{ 
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}


.logo__brand{
    display: block;
    font-weight: 400;
    font-size: 1.8em;
    color: #fff;
}

.logo__brand--small{
    font-weight: 300;
    font-size: 1.2em;
}


/*Header Top    */
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.navbar__list{
    display: flex;
}

.navbar__link, .action__login {
    padding: 4px 21px;
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

.navbar__link:hover
,.navbar__link--active{
    font-weight: 400;
    text-shadow: 1px 0 0 #C9D2DA;
}

.navbar__link--active::before{
    position: relative;
    left: -8px;
    top:-2px;
    content:"";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFF;

}

.header-action__login{
    display: inline-block;
    
    margin-right: 7px;
    min-width: 104px;
    height: 44px;
    padding: 0 20px;
    flex-shrink: 0;
    line-height: 44px;

    border-radius: 99px;
    border: 1px solid #2dcf3b;
    background: transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

.header-action__signup{
    height: 44px;
    min-width: 104px;
    line-height: 44px;
}

/*Hero*/
.hero{
    display: flex;
    margin-top: 76px;
    align-items: center;

}

.hero-content{
    width: 44%;
    flex-shrink: 0;
}

.hero-media{
    flex-grow: 1;
}

.hero__heading{
    color: #FFF;
    font-family: Sora;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc{
    margin-top: 22px;
    color: #C9D2DA;
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}

.hero__row{
    display: flex;
    align-items: center;
    margin-top: 38px;
    
}
.hero__phone{
    margin-left: 38px ;
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    flex-shrink: 0;
}

.hero__images{
    display: flex;
    align-items: center;
    margin-left: 80px;
    justify-content: flex-end;
}
.hero__img{
    width: 333px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}


.hero__img:first-child{
    position: relative;
    margin-right: -6px;
    
}

.hero__img:last-child{
    width: 290px;
    height: 410px;
}
