*box-sizing{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}   
/*Common*/
:root{
    --header-bg: #008046;
}
a{
    text-decoration: none;
}


.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn{
    display: inline-block;
    

    min-width: 205px;
    height: 60px;
    padding: 0 20px;
    flex-shrink: 0;
    line-height: 60px;

    border-radius: 99px;
    border: 1px solid #2dcf3b;
    background: #2dcf3b;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}


.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

.section-heading{
    color: #0B5C36;
    text-align: center;
    font-family: Sora;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
}

.section-desc{
    margin-top: 18px;
    color: #575F66;
    text-align: center;
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}


/*Header*/

.header{
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
}



.logo{
    font-size: 1rem;
    position: relative;
    display: inline-flex;

}


.logo__circle::before, .logo__circle::after{
    content:"";
    display: inline-block;
    
    border-radius: 50%;
    
}

.logo__circle::before{
    width: 3em;
    height: 3em;
    background: #2E80CE;

}

.logo__circle::after{
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    background: #fff;
    top: 1.1em;
    left: 1.1em;
    
}

.logo__text{ 
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}


.logo__brand{
    display: block;
    font-weight: 400;
    font-size: 1.8em;
    color: #fff;
}

.logo__brand--small{
    font-weight: 300;
    font-size: 1.2em;
}


/*Header Top    */
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.navbar__list{
    display: flex;
}

.navbar__link, .action__login {
    padding: 4px 21px;
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

.navbar__link:hover
,.navbar__link--active{
    font-weight: 400;
    text-shadow: 1px 0 0 #C9D2DA;
}

.navbar__link--active::before{
    position: relative;
    left: -8px;
    top:-2px;
    content:"";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFF;

}

.header-action__login{
    display: inline-block;
    
    margin-right: 7px;
    min-width: 104px;
    height: 44px;
    padding: 0 20px;
    flex-shrink: 0;
    line-height: 44px;

    border-radius: 99px;
    border: 1px solid #2dcf3b;
    background: transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

.header-action__signup{
    height: 44px;
    min-width: 104px;
    line-height: 44px;
}

/*Hero*/
.hero{
    display: flex;
    margin-top: 76px;
    align-items: center;

}

.hero-content{
    width: 44%;
    flex-shrink: 0;
}

.hero-media{
    flex-grow: 1;
}

.hero__heading{
    color: #FFF;
    font-family: Sora;
    font-size: 60px;
    font-style: normal;
    font-weight: 550;
    line-height: 80px; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc{
    margin-top: 22px;
    color: #C9D2DA;
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}

.hero__row{
    display: flex;
    align-items: center;
    margin-top: 38px;
    
}
.hero__phone{
    margin-left: 38px ;
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    flex-shrink: 0;
}

.hero__images{
    display: flex;
    align-items: center;
    margin-left: 80px;
    justify-content: flex-end;
}
.hero__img{
    width: 333px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}


.hero__img:first-child{
    position: relative;
    margin-right: -3px;
    
}

.hero__img:last-child{
    width: 280px;
    height: 410px;
}



/*Services*/
/* Khung icon */
.service-item__icon-wrap {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff; /* ban đầu nền trắng */
    transition: background-color 0.3s ease;
  }
  
  /* Icon mặc định: màu đen */
  .service-item__icon {
    width: 70%;
    height: 70%;
    object-fit: contain;
    filter: brightness(0); /* icon đen */
    transition: filter 0.3s ease;
  }
  
  /* Khi hover: đổi nền xanh + icon trắng */
  .service-item:hover .service-item__icon-wrap {
    background-color: #2dcf3b;
  }
  
  .service-item:hover .service-item__icon {
    filter: brightness(0) saturate(100%) invert(80%) sepia(90%) saturate(600%) hue-rotate(20deg) brightness(105%) contrast(100%);
  }  

.service{
    padding: 170px 0;
}

.service__heading,
.service__desc{
    text-align: center;
}
.service__desc{
    max-width: 468px;
    margin-left: auto;  
    margin-right: auto;  
}

.service__img{
    width: 600px;
    height: 650px;
    border-radius: 12px;
    object-fit: cover;
}

.service__row{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/*service item*/
.service-item{
    width: 470px;
    padding: 22px;
    display: flex;
    flex-shrink: 0;
    background: #FFFFFF;
}


.service-item:hover{
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    cursor: pointer;
}

.service-item__body{
    margin-left: 20px;
}

.service-item__heading{
    color: #10375C;
    font-family: Sora;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc{
    margin-top: 4px;
    color: #575F66;
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 175% */
}

.service__list{
    margin-bottom: 10px;
}



/*Work*/

.work{
    padding: 100px 0;
    background: #F6FBFF;
}

.work-item{
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    padding: 45px;
    transition: 0.25s;
    
}

.work-item:hover{
    border-color: #2dcf3b;
    transform: translateY(-16px);
}

.work__list{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}

.work-item__heading{
    margin-top: 18px;
    color: #0B5C36;
    font-family: Sora;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 138.462% */
}

.work-item__desc{
    margin-top: 28px;
    color: #575F66;
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 175% */
}

.work-item__more{
    display: inline-block;
    margin-top: 18px;
    color: #2E80CE;
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */   
}



/*Feature*/
.feature{
    margin-top: 85px;
    padding: 85px 0;   
}

.feature__media{
    width: 48%;
}

.feature__images{
    position: relative;
    padding: 0 58px 121px 0;

}

.feature__inner{
    display: flex;
    align-items: center;
    column-gap:130px;

}

.feature__img{
    width: 480px;
    height: 370px;
    border-radius:6px;
    object-fit: cover;
}

.feature__img:last-child{
    position: absolute;
    right:-25px;
    bottom:0;
    width: 400px;
    height: 330px;
    border-radius:6px;
    object-fit: cover;
}

.feature__cta{
    margin-top: 38px;

}


.section-desc{
    text-align: left;
}
/*Member*/

.member{
    padding: 85px 0;
    text-align: center;

}

.member__header{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.member__cta{
    margin-top: 38px;
}

.member__list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap:30px;
    margin-top: 70px;
}

.member-item__img-bg{
    padding-top: 26px;
    border-radius: 6px;
    background:#EAF6FF;
    overflow:hidden;

}

.member-item:hover .member-item__thumb{
    transform:scale(1.1);
}
.member-item__thumb{
    display: block;
    width: 100%;
    object-fit:cover;
    transition: 0.25s;
}



.member-item__name{
    margin-top: 12px;
    color: #10375C;
    text-align: center;
    font-family: Sora;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px; /* 175% */

}

.member-item__title{
    color: #575F66;
    text-align: center;
    font-family: Sora;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 185.714% */
}

.member__control{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 38px;
}

.member__control-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575F66;
    outline:none;
    color: #575F66;
    background: #fff;
    transition: 0.25s;
}

.member__control-btn:hover{
    border-color:#2dcf3b;
    background-color: #2dcf3b;
    color:#fff;
    cursor: pointer;
}

/*Install*/
.install{
    margin-top: 185px;
}

.install__inner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    border-radius: 4px;
    background: #008046;
}
.install__img{
    display:block;
    width: 284px;
    height: 522px;
    margin-top: -95px;
    object-fit: cover;
}

.install__content{
    width: 50%;

}

.install__heading, .install__desc{
    color:#fff;   
    text-align: left;
}

.install__heading{
    max-width: 489px;
}

.install__row{
    margin-top: 38px;
    column-gap: 28px;

}

.install__btn{
    outline:none;
    border:none;
    background: transparent;
}

/*News*/
.news{
    margin-top: 85px;
    padding: 85px 0;
}


.news__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content{
    flex-shrink:0;

}

.news__heading{
    max-width: 470px;
}

.news__more{
    display:inline-block;
    margin-top: 28px;
    color: #0B5C36;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.news__list{
    max-width: 570px;
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
}

.news-item{
    width: calc(50% - 15px);
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.news-item:hover{
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.5);
}

.news-item:hover .news-item__body{
    border-color: #fff;
}

.news-items__thumb{
    width: 100%;
    height: 172px;
    object-fit: cover;
    display: block;
}

.news-item__body{
    padding: 20px 20px 16px;
    background: #ffffff;
    border: 1px solid #e8ebee;
    border-top: none;
    border-radius: 0 0 12px 12px;
    transition: 0.25s;

}

.news-item__heading{
    color: #0B5C36;
    font-family: Sora;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
}

.news-item__desc{
    margin-top: 10px;
    color: #575F66;
    font-family: Sora;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 171.429% */
}

.news-item__more{
    display:inline-block;
    margin-top: 12px;
    color: #2E80CE;
    font-family: Sora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}